<%= render 'header' %>
<div id="form">
<bold><h1>New Blog Post</h1></bold><br>
<%= form_for @blog, url: create_post_path, method: :post do |f| %>
  <%= f.label :user %><br>
  <%= f.collection_select :user_id, @users, :id, :full_name %><br><br>

  <%= f.label :title %><br>
  <%= f.text_field :title, size: 60 %><br><br>

  <%= f.label :content %><br>
  <%= f.text_area :content, :cols => 150, :rows => 15 %><br><br>

  <%= f.submit "Create New Post", class: "btn btn-primary btn-lg"%>
<% end %>
</div>
