<%= render 'header' %>

<div id='blog-body' >
<h1><%= @blog.title %></h1><br>
<p width="300">
  <%= simple_format(@blog.content) %>
</p><br><br>

<%= button_to 'Like', like_blog_path(@blog), method: :post %><%= @blog.likes.count %> <%= (@blog.likes.count) == 1 ? 'Like' : 'Likes'%>
<br><br>
  <h4><strong><u> Comments </u></strong></h4><br>
  <% @blog.comments.each do |comment| %>
    <%= link_to comment.user.first_name, user_path(comment.user.user_name) %> says...<br>
    <%= comment.comment %><br><br>
    <% end %>

<%= form_for @comment, url: add_comment_path, method: :post do |f| %>
  <%= f.label :name %><br>
  <%= f.collection_select :user_id, @users, :id, :user_name %><br><br>

  <%= f.label :comment %><br>
  <%= f.text_area :comment, :cols => 60, :rows => 5 %><br><br>

  <%= f.submit "Add Comment", class: "btn btn-primary btn-sm" %>
<% end %>
<br><br>
<%= link_to "Edit Post", edit_blog_path(@blog), method: 'get' %><br><br>
<%= button_to "Delete Post", blog_path(@blog), method: 'delete' %>
<%= link_to "Back to #{@blog.user.first_name}'s Profile", user_path(@blog.user.user_name), method: 'get' %>


  </div>
