<%= render 'header' %>

<div id='blog-body' >
<h1><%= @blog.title %></h1><br>
<p width="300">
  <%= @blog.content %>
</p><br><br>

<%= button_to 'Like', like_blog_path(@blog), method: :post %><%= @blog.likes.count %> <%= (@blog.likes.count) == 1 ? 'Like' : 'Likes'%>
<br><br>
  <h3> Comments </h3><br>
  <% @blog.comments.each do |comment| %>
    <%= link_to comment.user.full_name,   user_path(comment.user) %> says...<br>
    <%= comment.comment %><br><br>
    <% end %>

<%= form_for @comment, url: add_comment_path, method: :post do |f| %>
  <%= f.label :name %><br>
  <%= f.collection_select :user_id, @users, :id, :full_name %><br><br>

  <%= f.label :comment %><br>
  <%= f.text_area :comment, :cols => 60, :rows => 5 %><br><br>

  <%= f.submit "Add Comment", class: "btn btn-primary btn-sm" %>
<% end %>
<%= button_to "Delete Post", blog_path(@blog), method: 'delete' %>
<%= link_to "Back to User Profile", user_path(@blog.user.user_name), method: 'get' %>


  </div>
