
<div class="blog-masthead">
        <nav class="blog-nav">
          <a class="blog-nav-item " href=<%="#{users_path}"%>>X  A  N  G  A </a>
      </nav>
</div>


<div class="jumbotron" style=" background-image: url(https://images.unsplash.com/photo-1529310356902-e45c5cd4e0d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80); background-size: 100% 100%; height: 25vw; width: 100vw;">
  <div class="container" style="padding: 30;">
    <span class="title"> XANGA </span> <span class="subtitle"><strong>:: the revival </strong></span>
    <p>Ready to relive your 90's wildest dreams by sharing your thoughts to strangers on the world wide web? What are you waiting for?
    <br><br>
    <a class="btn btn-primary btn-lg" href="/users/new" role="button"> Sign Up Today! »</a></p>
  </div>
</div>

<div class="users">
<h2 style="text-align: center;">
  <strong><b> Check out our community!</b></strong>
</h2><br>
<div style="display: flex; flex-flow: row wrap; justify-content: center; text-align: center;">
  <% @users.each do |user| %>
  <div style="width: 300px; height:300px">
  <h4><%= user.full_name %><h4>
    <% if !user.img_url || user.img_url == "" %>
        <%= "No Photo Uploaded" %>
      <% else %>
      <img class="img-circle" src=<%="#{user.img_url}"%> width="200" height="200">
    <% end %>
    <br><br> <span class="lead blog-description"><%= user.bio %></span>
    <br><br><a class="btn btn-default" href=<%="#{user_path(user)}"%> role="button">View details »</a>
    </div>
  <% end %>
</div>
</div>
<br><br><br><br>

<div class="jumbotron">
  <div class="blog-bottom">
    <%= form_tag search_path, method: :post, class: "navbar-form navbar-center search-form" do %>
      <%= text_field_tag(
          :search,
          params[:search],
          placeholder: "Search",
          class: "form-control",
      ) %>
    <% end %><br>
    <a class="btn btn-primary btn-lg" href="/users/new" role="button"> Search for users »</a>
  </div>
</div>
