<%= render 'header' %>
<br><br>
<div class="container">
<div class="blog-header">
  <% if !@user.img_url %>
    <p>
      <%= "No Photo Uploaded" %>
    </p>
    <% else %>
      <img class="img-circle" src=<%="#{@user.img_url}"%> width="70" height="70">
  <% end %>
    <span class="blog-title"><%= @user.full_name + "'s Blog"%></span><br>
</div>
<div>
<br>
      <% @user.blogs.each do |blog| %>
      <h2><%= link_to blog.title, blog_path(blog)%></h2>
      <% end %>
<br><br><br><br>
<%= link_to "New Post", blogs_new_path, method: 'get' %><br>
<%= link_to "Edit Profile", user_edit_path(@user), method: 'get' %><br>
</div>
</div>
