<br><br>
<div class="container">
<div class="blog-header">
  <% if !@user.img_url %>
    <p>
      <%= "No Photo Uploaded" %>
    </p>
    <% else %>
      <img class="img-circle" src=<%="#{@user.img_url}"%> width="90" height="90">
  <% end %>
    <span class="blog-title"><%= "Welcome, #{@user.first_name}!"%></span><br>
</div>
<div>
<br><br>
      <% @user.blogs.each do |blog| %>
      <h2><%= link_to blog.title, blog_path(blog)%></h2>
      <h5><%= blog.created_at.strftime("%A,  %B %d, %Y") %></h5>
      <br>
      <%= simple_format(blog.content) %><br>
      <%= blog.likes.count %><%= (blog.likes.count) == 1 ? ' Like' : ' Likes'%> : <%= blog.comments.count %><%= (blog.comments.count) == 1 ? ' Comment' : ' Comments'%><br><br>
      ----------------------------------------------------<br><br><br>
      <% end %>
<br><br><br>
</div>
</div>

<iframe width="0" height="0" src="https://www.youtube.com/embed/<%=@user.music_url.reverse[0..10].reverse%>?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
